header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;
}
.header__inner {
  width: var(--inner-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.7rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--header-font);
  user-select: none;
}
.header__main-nav {
  height: fit-content;

  display: flex;
  gap: 24px;
}
.header__main-nav > a {
  position: relative;
  text-decoration: none;
  color: var(--header-font);
  transition: var(--transition);
  padding: 0 16px;
}

.header__main-nav > a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  bottom: -8px;
  left: 0;
  background-color: var(--header-font);
  opacity: 0;
}
.header__main-nav > a:hover::after {
  opacity: 1;
}

.header__social-nav {
  display: flex;
  gap: 8px;
}
.header__social-nav > a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--header-font);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.header__social-nav > a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.mobile-nav__open {
  position: relative;
  width: 32px;
  height: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.mobile-nav__open > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--header-font);
  border-radius: 2px;
  transition: var(--transition);
}
.mobile-nav__open > span:nth-child(1) {
  top: 0;
}

.mobile-nav__open > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.mobile-nav__open > span:nth-child(3) {
  bottom: 0;
}
.mobile-nav__open.active > span:nth-child(1) {
  top: unset;
  transform: rotate(-45deg);
}
.mobile-nav__open.active > span:nth-child(2) {
  opacity: 0;
}
.mobile-nav__open.active > span:nth-child(3) {
  bottom: unset;
  transform: rotate(45deg);
}

@media screen and (max-width: 1023px) {
  .header__logo {
    font-size: 2rem;
  }
  .header__main-nav,
  .header__social-nav {
    display: none;
  }
  .mobile-nav__open {
    display: flex;
  }
}
